.bgCustom {
    background-image: url(../images/bgLogin.jpg);
    background-size: cover;
    background-position: left;
    background-position: 10%;
}
.formCustom {
    backdrop-filter: blur(5px);
    background-color: #ffffff55;
}
li.navCommon {
    position: relative;
    color: #000;
}

li.navCommon::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    height: 1px;
    width: 0%;
    background: white;
    transition: width 0.5s;
}
li.navCommon:hover a {
    color: #fff;
    text-shadow: 0.5px 0 0 white;
}

li.navCommon:not(:has(a.nav-link.active)):hover::after {
    width: 85%;
}

li.navCommon a.nav-link.active {
    color: #fff;
    text-shadow: 0.5px 0 0 white;
}
.more-link:hover {
    text-decoration: underline;
}

.overFiveImages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.background-carousel {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000c6; /* Nền đen cho toàn bộ màn hình */
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 20;
}

.wrapperCarousel {
    position: relative;
    width: 500px;
    height: 600px;
}
.carouselContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carouselImages {
    display: flex;
    transition: transform 0.5s ease;
    width: 500px;
    height: 600px;
}

.carouselImages img {
    flex-shrink: 0;
    width: 500px; /* Bắt buộc chiều rộng là 500px */
    height: 600px; /* Bắt buộc chiều cao là 600px */
    object-fit: contain; /* Kéo dãn ảnh để lấp đầy khung, bỏ qua tỷ lệ gốc */
    background-color: #000;
}

.carouselPrev,
.carouselNext {
    z-index: 15;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
}
.closeCarousel {
    position: absolute;
    top: 70px;
    right: 30px;
    z-index: 21;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    transition: 0.25s;
    border-radius: 50%;
}
.closeCarousel:hover {
    background-color: #ffffff9b;
}
.carouselPrev {
    left: -70px;
}

.carouselNext {
    right: -70px;
}

.carouselPrev:hover,
.carouselNext:hover {
    background-color: rgb(87, 77, 77); /* Màu nền khi hover */
}
.editModule,
.deleteModule {
    transition: 0.25s;
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
}
.editModule:hover,
.deleteModule:hover {
    opacity: 1;
    scale: 1.1;
}
/* coursework/
├── app/
│   ├── controllers/
│   │   └── UserController.php
│   │   └── AuthController.php
│   │   └── PostController.php
│   ├── views/
│   │   └── users/
│   │       └── index.html.php
│   │       └── askQuestion.html.php
│   │       └── listAllPost.html.php
│   ├── model/
│   │   └── Contact.php
│   │   └── Post.php
└── config/
    ├── config.php
    └── databaseConnection.php
    └── databaseFunctions.php
    └── commonFunctions.php
└── layouts/
    └── header.html.php
    └── footer.html.php
└── public/
    └── index.php
    └── images
    └── css/
      └── style.css 
└── vendor/
    └── autoload.php*/
